@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
/* line 24, ../sass/screen.scss */
* {
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 33, ../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
  background: #EBEAEA;
}

/* line 39, ../sass/screen.scss */
.main_table {
  position: absolute;
  z-index: 0;
}

/* line 44, ../sass/screen.scss */
.top_table {
  background: url(/background/sky-night.jpg);
  z-index: 20;
  width: 90%;
  height: 405px;
  margin-left: 5%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}
/* line 52, ../sass/screen.scss */
.top_table .text_welcome {
  color: #899B99;
  font-size: 3.5em;
  line-height: 320px;
  font-family: "Quicksand", sans-serif;
  white-space: pre;
  text-align: center;
}
/* line 61, ../sass/screen.scss */
.top_table .text_common {
  color: #899B99;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  line-height: 0px;
  margin-top: -100px;
  text-align: center;
}
/* line 70, ../sass/screen.scss */
.top_table .btn_sign_in {
  border: 1px solid #18DAA3;
  color: #18DAA3;
  width: 10%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  margin-left: 38%;
  margin-top: 80px;
  display: inline-block;
  transition: linear .2s;
}
/* line 84, ../sass/screen.scss */
.top_table .btn_sign_in:hover {
  box-shadow: 0px 0px 5px #18DAA3;
  text-shadow: 0px 0px 10px #FBFBFC;
  cursor: pointer;
}
/* line 91, ../sass/screen.scss */
.top_table .btn_sign_up {
  border: 1px solid #18DAA3;
  color: #18DAA3;
  width: 10%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5%;
  transition: linear .2s;
}
/* line 104, ../sass/screen.scss */
.top_table .btn_sign_up:hover {
  box-shadow: 0px 0px 5px #18DAA3;
  text-shadow: 0px 0px 10px #FBFBFC;
  cursor: pointer;
}

/* line 113, ../sass/screen.scss */
.nav {
  position: absolute;
  width: 98%;
  height: 80px;
  background: transparent;
  z-index: 999;
}
/* line 120, ../sass/screen.scss */
.nav #home, .nav #logo, .nav #about, .nav #services, .nav #search {
  display: inline-block;
  float: right;
  background: transparent;
  width: auto;
  height: 40px;
  margin-left: 5%;
  line-height: 40px;
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
  color: #899B99;
  font-family: "Quicksand", sans-serif;
}
/* line 134, ../sass/screen.scss */
.nav #search {
  margin-right: 13%;
}
/* line 138, ../sass/screen.scss */
.nav #logo {
  float: left;
  margin-left: 13%;
  font-size: 1.5em;
  font-family: "Lobster", cursive;
  color: white;
}

/* line 148, ../sass/screen.scss */
.bottom_table {
  z-index: 1;
  width: 90%;
  height: auto;
  min-height: 70%;
  background: #FBFBFC;
  position: absolute;
  margin-top: 405px;
  margin-left: 5%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  color: #899B99;
}
/* line 160, ../sass/screen.scss */
.bottom_table .block_new, .bottom_table .block_meet {
  display: inline-block;
  position: absolute;
  width: 350px;
  height: 150px;
  margin: 4% 13%;
}
/* line 167, ../sass/screen.scss */
.bottom_table .block_new .logo_new, .bottom_table .block_meet .logo_new, .bottom_table .block_meet .logo_calend {
  margin: 4% 6%;
  display: block;
}
/* line 171, ../sass/screen.scss */
.bottom_table .block_new .text_new_logo, .bottom_table .block_meet .text_new_logo {
  display: block;
  margin-left: 60%;
  margin-top: -37%;
}
/* line 176, ../sass/screen.scss */
.bottom_table .block_new .text_new_logo h3, .bottom_table .block_meet .text_new_logo h3 {
  font-family: "Quicksand", sans-serif;
}
/* line 182, ../sass/screen.scss */
.bottom_table .block_note, .bottom_table .block_sinch {
  display: inline-block;
  position: absolute;
  width: 350px;
  height: 150px;
  margin: 4% 55%;
}
/* line 189, ../sass/screen.scss */
.bottom_table .block_note .logo_note, .bottom_table .block_sinch .logo_note, .bottom_table .block_sinch .logo_sinch {
  margin: 4% 6%;
  display: block;
}
/* line 194, ../sass/screen.scss */
.bottom_table .block_note .text_note_logo, .bottom_table .block_sinch .text_note_logo {
  display: block;
  margin-left: 60%;
  margin-top: -37%;
}
/* line 199, ../sass/screen.scss */
.bottom_table .block_note .text_note_logo h3, .bottom_table .block_sinch .text_note_logo h3 {
  font-family: "Quicksand", sans-serif;
}
/* line 205, ../sass/screen.scss */
.bottom_table .block_meet {
  margin-top: 20%;
}
/* line 213, ../sass/screen.scss */
.bottom_table .block_meet .text_calend_logo {
  display: block;
  margin-left: 60%;
  margin-top: -37%;
}
/* line 218, ../sass/screen.scss */
.bottom_table .block_meet .text_calend_logo h3 {
  font-family: "Quicksand", sans-serif;
}
/* line 224, ../sass/screen.scss */
.bottom_table .block_sinch {
  margin-top: 20%;
}
/* line 232, ../sass/screen.scss */
.bottom_table .block_sinch .text_sinch_logo {
  display: block;
  margin-left: 60%;
  margin-top: -37%;
}
/* line 237, ../sass/screen.scss */
.bottom_table .block_sinch .text_sinch_logo h3 {
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 1100px) {
  /* line 246, ../sass/screen.scss */
  .top_table .text_welcome {
    font-size: 2.5em;
  }

  /* line 251, ../sass/screen.scss */
  .bottom_table .block_new, .bottom_table .block_meet {
    margin-left: 8%;
  }
}
@media screen and (max-width: 800px) {
  /* line 259, ../sass/screen.scss */
  .top_table .text_welcome {
    font-size: 1.5em;
  }

  /* line 264, ../sass/screen.scss */
  .bottom_table {
    height: 120%;
  }
  /* line 266, ../sass/screen.scss */
  .bottom_table .block_new, .bottom_table .block_meet, .bottom_table .block_note, .bottom_table .block_sinch, .bottom_table .block_meet, .bottom_table .block_sinch {
    display: block;
    position: static;
    float: none;
  }
  /* line 271, ../sass/screen.scss */
  .bottom_table .block_note, .bottom_table .block_sinch {
    margin-left: 8%;
  }
  /* line 275, ../sass/screen.scss */
  .bottom_table .block_meet, .bottom_table .block_sinch {
    margin-top: 0;
  }
}
@media screen and (max-width: 700px) {
  /* line 283, ../sass/screen.scss */
  .top_table .text_common {
    font-size: .8em;
  }
  /* line 286, ../sass/screen.scss */
  .top_table .btn_sign_in, .top_table .btn_sign_up {
    font-size: 0.7em;
  }
}
